# Dependencies
node_modules/
.venv
.env

# Build and Cache
*.db
*.pyc
__pycache__/
.firebase/
.vscode/

# Temporary files
dpd_data/
temp_download/
*.tar.bz2

# Sensitive files
service-account-key.json
scripts/service-account-key.json

# IDE
.vscode/PythonImportHelper-v2-Completion.json
.DS_Store
*.swp
*.swo
*~

